.input-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 8px;
  border-top: 1px solid $border-color;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);

  :global {
    .rs-input {
      box-shadow: 0 0 transparent, 0 0 transparent, 0 0 10px rgba(0, 0, 0, 0.1);

      &:focus {
        border-color: rgba(0, 0, 0, 0);
      }

      resize: none;
    }
  }

  .textarea {
    min-height: 36px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    outline: 0;
    border: 1px solid $border-color-light;
    border-radius: 5px;
    padding: 4px 8px;
    padding-right: 28px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    font-size: 12px !important;
    color: $font-color !important;
    line-height: 24px !important;
    word-wrap: break-word !important;

    * {
      font-size: 12px !important;
      color: $font-color !important;
      line-height: 24px !important;
      word-wrap: break-word !important;
      font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
        Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue",
        Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji" !important;
    }
  }

  .send-btn {
    position: absolute;
    right: 14px;
    bottom: 14px;
  }

  .send {
    position: absolute;
    right: 17px;
    bottom: 17px;
    width: 16px;
    height: 16px;
  }
}

.show {
  animation: show 0.8s linear forwards;
}

.hidden {
  animation: hidden 0.8s linear forwards;
}

.animation-spin {
  animation: spin 0.8s infinite linear, hidden 0.8s linear forwards;
}

.animation-spin-show {
  animation: spin 0.8s infinite linear, show 0.8s linear forwards;
}

@include keyframes(spin) {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@include keyframes(show) {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    z-index: 2;
  }
}

@include keyframes(hidden) {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    z-index: 1;
  }
}
