// 全局scss变量
$primary-color: #256371; // 主色
$sub-color: rgba(37, 99, 113, 0.65); // 辅色
$light-background-color: rgba(37, 99, 113, 0.05); // 背景淡色
$grey-background-color: rgb(247, 247, 248); // 灰背景色

$font-color: #343541;
$font-light-color: rgb(217, 217, 217);
$sub-font-color: rgba(0, 0, 0, 0.5);
$disabled-font-color: rgba(7, 6, 6, 0.25);
$border-color: rgb(217, 217, 217);
$border-color-light: rgba(0, 0, 0, 0.1);

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

.listenElementResize {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  visibility: hidden;
  pointer-events: none;
}