.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  opacity: 0;
  transition: opacity 1s linear;

  img {
    width: 120px;
    height: 120px;
  }

  .logo {
    margin-bottom: 16px;
    animation: loading 3s infinite ease-out;
  }

  .text {
    // font-weight: bold;
  }

  .error {
    font-weight: bold;
    color: #f44336;
  }
}
.show {
  opacity: 1;
}

@include keyframes(loading) {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
