.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: $font-color;
  background-color: $grey-background-color;

  .msg-list {
    // overflow: auto;
    display: flex;
    flex-direction: column;
  }
}

.message {
  border-bottom: 1px solid $border-color-light;
  display: flex;
  padding: 20px 12px;
  padding-bottom: 28px;
  line-height: 24px;
  position: relative;

  .avatar {
    flex-shrink: 0;
    margin-right: 16px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .unknown-message {
    color: $disabled-font-color;
  }

  .copy {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    bottom: 16px;
  }
}

.recieve-message {
  background-color: white;
  padding-bottom: 48px;
}